.header {
  background: hsl(193, 100%, 96%);
  background-image: url("bg-hero-desktop.svg");
  height: 420px;
}

.header .img-fluid {
  width: 400px;
}
.header h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}
.header p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
.header .gold {
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 15px;
}
.header h5 {
  text-align: end;
}
.header h5:hover {
  color: blueviolet;
  cursor: pointer;
}
.section1 {
  border: 1px solid #ddd;
  margin: 20px 0;
  padding: 30px;
}
